# Citaya DTE/SII LAB external files example
# Copy values to a local ignored env file or secure runtime environment.
# Do not commit real CAF, certificates, private keys, passwords, or .env.local.

DTE_MODE=lab
DTE_SII_ENV=certification
DTE_PERSISTENCE_BACKEND=supabase

DTE_CAF_PATH=/home/verf/secure/dte-lab/caf/caf-certification.xml
DTE_CAF_PRIVATE_KEY_PATH=/home/verf/secure/dte-lab/private/caf-private-key.pem
DTE_CERT_PATH=/home/verf/secure/dte-lab/certs/certificado-digital.pem
DTE_PRIVATE_KEY_PATH=/home/verf/secure/dte-lab/private/certificado-private-key.pem

DTE_CERTIFICATION_FOLIO=1
DTE_CERTIFICATION_DOC_TYPE=39
DTE_CERTIFICATION_OUTPUT_PATH=tmp/dte-certification/certification-envio-dte.xml

DTE_SII_SEED_URL=
DTE_SII_TOKEN_URL=
DTE_SII_SUBMIT_URL=
DTE_SII_STATUS_URL=
DTE_SII_ENABLE_SUBMIT=false


# PRE-CAF boletas tipo 39 issuer data.
# Prefer putting real values in /home/verf/secure/dte-lab/issuer-certification.env
# or another ignored external file referenced by DTE_BOLETA_PRE_CAF_ENV_PATH.
DTE_BOLETA_PRE_CAF_ENV_PATH=/home/verf/secure/dte-lab/issuer-certification.env
DTE_ISSUER_RUT=78195645-7
DTE_ISSUER_RAZON_SOCIAL=R&G SpA
DTE_ISSUER_GIRO=Servicios digitales
DTE_ISSUER_DIRECCION=Regimiento Arica Nro 301 depto/local 215
DTE_ISSUER_COMUNA=Coquimbo
DTE_ISSUER_CIUDAD=Coquimbo
DTE_ISSUER_REGION=Coquimbo
DTE_ISSUER_SOFTWARE=CITAYA
DTE_ISSUER_URL=https://www.citaya.online
DTE_CERT_REPRESENTATIVE_NAME=<representante-autorizado-certificado>
DTE_CERT_REPRESENTATIVE_RUT=<rut-representante-autorizado>
DTE_CERTIFICATION_EMAIL=<correo-certificacion>
DTE_BOLETA_CERTIFICATION_FIRST_FOLIO=1
